#igonara arquivos de teste
/python_scripts/*.txt
/python_scripts/plots/**
/python_scripts/__pycache__/**
/python_scripts/plots_bacia_atracao/**
/python_scripts/*.npz
/python_scripts/*.svg
/python_scripts/*.png
/Bacia_forca_bruta/**
/Bacia_forca_bruta_placadevideo/**
/config/**
/Forca_br/**
/include/**
/Rkutta/**
premake5.lua
